.header-con {
  position: fixed;
  display: grid;
  grid-template-columns: 2fr 3fr 1.5fr;
  align-items: center;
  height: 100px;
  width: 100%;
  transition: 0.5s;
}

.header-logo img {
  margin-left: 50px;
  width: 250px;
}

.header-menu {
  color: white;
  font-size: 18px;
  font-weight: 600;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.header-menu span {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

.header-menu span:hover {
  color: #f26933;
}

.header-sub-menu-con {
  position: absolute;
  background-color: white;
  top: 101px;
  width: 100%;
  display: none;
  grid-template-columns: 2fr 3fr 1.5fr;
}

.header-sub-menu-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.header-sub-menu {
  display: flex;
  flex-direction: column;
  padding: 40px 0px;
  gap: 16px;
}

.header-sub-menu > a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.header-sub-menu > a:hover {
  text-decoration: underline;
  color: #f26933;
}

.lang-btn-con {
  display: flex;
  justify-content: end;
  align-items: center;
}

.lang-btn-box {
  padding: 10px 16px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 50px;
  gap: 8px;
  border: solid 1px white;
  border-radius: 20px;
}

.lang-btn-box span {
  color: rgba(255, 255, 255, 0.5);
}

.kr,
.en {
  cursor: pointer;
}

.lang-btn-box img {
  width: 22px;
}

.menu-btn {
  display: none;
}

@media all and (max-width: 1023px) {
  .header-con {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding: 12px 0px;
  }
  .header-menu {
    display: none;
  }

  .header-sub-menu-con {
    display: none;
  }

  .hr,
  .en {
    display: none;
  }

  .header-logo > img {
    width: 163px;
    margin-left: 20px;
  }

  .lang-btn-box {
    padding: 5px 10px;
    margin-right: 20px;
  }

  .lang-btn-box span {
    font-size: 14px;
  }

  .lang-btn-box img {
    width: 18px;
  }

  .menu-btn {
    display: flex;
    margin-right: 20px;
  }

  .menu-btn img {
    width: 20px;
  }

  .mb-header-right-con {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
