.slide-con {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100vh;
}

.slide__item {
  position: absolute;
  min-width: 1280px;
  width: 100%;
  height: 100%;
}

.slide__item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.slide__text-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1280px;
}

.text-box__title {
  font-size: 54px;
  font-weight: bold;
  width: 700px;
}

.text-box__sub {
  font-size: 20px;
  width: 700px;
}

.slide-nav-con {
  position: absolute;
  min-width: 1280px;
  width: 100%;
  height: 100%;
}

.nav-con__bot {
  position: absolute;
  display: flex;
  align-items: center;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 1280px;
}

.nav-con__time-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-con__timebar-box {
  background-color: rgba(255, 255, 255, 0.3);
  width: 300px;
}

.timerbar-box__timebar {
  background: red;
  width: 0;
  height: 4px;
}

.nav-con__start {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.nav-con__end {
  color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
  font-size: 18px;
}

.slide-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 20px;
  gap: 10px;
}

.slide-icon-box img {
  cursor: pointer;
  padding: 20px;
  width: 10px;
  height: 16px;
}

@media all and (max-width: 1023px) {
  .slide__item {
    width: 100%;
    min-width: 100%;
  }
  .slide__text-box {
    gap: 0px;
    left: 50%;
    top: 30%;
    min-width: 100%;
    width: 100%;
  }
  .text-box__title {
    font-size: 24px;
    padding: 20px 20px;
    width: 80%;
  }
  .text-box__sub {
    font-size: 14px;
    padding: 0px 20px;
    width: 80%;
  }

  .slide-nav-con {
    min-width: 100%;
    height: 100%;
  }

  .nav-con__bot {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    top: 90%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-width: 100%;
  }

  .nav-con__time-box {
    padding-left: 20px;
  }

  .slide-icon-box {
    padding-right: 20px;
  }

  .nav-con__timebar-box {
    width: 100px;
  }

  .timerbar-box__timebar {
    height: 2px;
  }

  .nav-con__start {
    font-size: 14px;
  }

  .nav-con__end {
    font-size: 14px;
  }
}
