@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700&display=swap");

/* ###############자동정렬 방지###############*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
/* ###############자동정렬방지###############*/ {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

#banner {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  /* position: relative; */
  white-space: nowrap;
  font-size: 0px;
}
.slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  transition: all 1.5s;
}

.slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slide-intro {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-intro {
  font-size: 70px;
}

.sub-intro {
  font-size: 20px;
}

button {
  cursor: pointer;
  background-color: transparent;
  padding: 10px 20px;
  border: solid 1px white;
  color: white;
  font-weight: bold;
}

.header-wrapper {
  display: grid;
  grid-template-columns: 5fr 5fr 1.5fr;
  align-items: center;
  width: 100%;
  position: fixed;
  height: 100px;
  top: 0;
  color: white;
  transition: 0.5s;
  font-weight: 500;
  font-size: 20px;
}

.logo {
  padding-left: 100px;
  cursor: pointer;
}

.logo img {
  width: 300px;
}

.header-menu {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.header-menu span {
  cursor: pointer;
  transition: 0.2s;
}

.header-menu span:hover {
  color: red;
}

.header-sub-menu {
  display: flex;
  gap: 30px;
  justify-content: end;
  padding-right: 100px;
  font-size: 17px;
}

.header-detail-menu-wrapper {
  display: none;
  grid-template-columns: 5fr 5fr 1.5fr;
  position: fixed;
  padding: 20px 0px;
  top: 100px;
  width: 100%;
  color: black;
  background-color: white;
  font-weight: 500;
  font-size: 20px;
  transition: 0.2s;
}

.header-detail-menu {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  font-size: 15px;
  font-weight: 500;
}

.header-detail {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header-detail span {
  color: #999;
  cursor: pointer;
}

.header-detail span:hover {
  color: red;
}

.slide-btn {
  position: absolute;
  bottom: 200px;
  display: flex;
  left: 200px;
  gap: 20px;
}

.slide-btn button {
  transition: 0.2s;
  opacity: 0.5;
}

.slide-btn button:hover {
  opacity: 1;
}

#timer {
  position: absolute;
  bottom: 200px;
  right: 200px;
  font-size: 30px;
  border-radius: 100px;
  border: solid 2px white;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

.company-intro {
  padding: 0px 400px;
}

.company-intro1 {
  width: 100%;
  height: 100vh;
}
