@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* ###############자동정렬 방지###############*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
/* ###############자동정렬방지###############*/ {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  font-size: 0;
}

.container {
  font-family: "Pretendard-Regular", sans-serif;
  overflow-x: hidden;
}

.con {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 800px;
}

.con > .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.con .box .naver {
  width: 25%;
  cursor: pointer;
}

.con1 {
  background-image: url("./images/con1/con1_bg.png");
  height: 100vh;
}

.con2 {
  background-color: #dae2e5;
}

.con3 {
  background-color: #ff4d15;
}

.con4 {
  background-image: url("./images/con4/con4_bg.png");
}

.con5 {
  background-image: url("./images/con5/con5_bg.png");
}

.con6 {
  background-image: url("./images/con6/con6_bg.png");
}

.con7 {
  background-image: url("./images/con7/con7_bg.png");
}

.con9 {
  background-image: url("./images/con9/cob9_bg.png");
}

.con4 .box .img,
.con9 .box > img {
  width: 80%;
}
.con6 img {
  width: 90%;
}

.con10 > .box > .img1 {
  width: 45%;
}
.con10 > .box > .img3 {
  width: 70%;
}

.btn-box {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(90deg, rgba(0, 47, 103, 0) 0%, #073872 49%, rgba(0, 47, 103, 0) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0px;
  width: 800px;
}

.btn-box .naver {
  margin-bottom: 3%;
}
.btn-box .btn-text {
  width: 80%;
}

.con img {
  width: 100%;
}

.timer-box {
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 3%;
  width: 40%;
  display: flex;
  justify-content: center;
}

.span1 {
  font-size: 40px;
  font-weight: bold;
  color: #666666;
  margin: 2%;
}

.span2 {
  font-size: 90px;
  font-weight: bold;
  color: #ff4d15;
}

.con2 {
  padding-top: 5%;
}

.con2 .box {
  gap: 30px;
}

.con4,
.con5,
.con6,
.con7,
.con9,
.con10 {
  padding: 5% 0%;
}

.con4 .box {
  gap: 60px;
}

.con9 .box .naver {
  margin-top: 5%;
}

.con10 {
  margin-bottom: 100px;
}

.con10 > .box > .img1 {
  margin-bottom: 3%;
}

.con10 > .box > .timer-box {
  margin-bottom: 7%;
}

.con10 > .box > .img2 {
  cursor: pointer;
  margin-bottom: 4%;
}

footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 800px;
  width: 100%;
  text-align: center;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

footer > img {
  width: 620px;
  margin: 30px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .con {
    min-width: 100%;
  }
  .con1 {
    height: auto;
    padding: 10% 0px;
  }

  .con > .box {
    width: 90%;
  }

  .con2 > .box {
    gap: 10px;
  }

  .con1 > .box > .btn-box {
    width: 95%;
  }

  .con2 {
    padding-top: 10%;
  }

  .con4 > .box {
    gap: 0px;
  }

  .con4 > .box > .naver {
    margin: 5% 0%;
  }

  .con4 {
    padding: 15% 0%;
  }

  .con9 {
    padding: 20% 0%;
  }

  .con5,
  .con6,
  .con7,
  .con10 {
    padding: 10% 0%;
  }

  .timer-box {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px 10px;
    border-radius: 8px;
  }

  .span1 {
    font-size: 25px;
  }

  .span2 {
    font-size: 55px;
  }

  .con10 {
    margin-bottom: 15%;
  }

  footer {
    min-width: 100%;
  }

  footer > img {
    margin: 10px;
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .span1 {
    font-size: 20px;
  }

  .span2 {
    font-size: 50px;
  }
}
@media screen and (max-width: 500px) {
  .span1 {
    font-size: 15px;
  }

  .span2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 400px) {
  .span1 {
    font-size: 10px;
  }

  .span2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 300px) {
  .span1 {
    font-size: 10px;
  }

  .span2 {
    font-size: 30px;
  }
}
